{
  "extends": "eslint:recommended",
  "plugins": ["angular"],
  "env": {
    "browser": true,
    "jasmine": true
  },
  "globals": {
    "angular": true,
    "module": true,
    "inject": true,
    "$": true,
    "require": true,
    "firebase": true,
    "console": true,
    "swal": true,
    "Papa": true,
    "_": true
  }
}
