<div class="footer fixed">
  <!--<div class="pull-right">
    <button class="btn-link"><i class="fa fa-envelope" aria-hidden="true" onclick="location.href='mailto:hello@myboxcorner.co'"></i></button>
    <button class="btn-link"><i class="fa fa-facebook" aria-hidden="true" onclick="location.href='http://www.facebook.com/MyPopCorner'"></i></button>
    <button class="btn-link"><i class="fa fa-twitter" aria-hidden="true" onclick="location.href='http://twitter.com/MyBoxCorner'"></i></button>
    <button class="btn-link"><i class="fa fa-instagram" aria-hidden="true" onclick="location.href='https://www.instagram.com/myboxcorner/'"></i></button>
  </div>-->
  <div>
      Made with <i class="fa fa-heart" aria-hidden="true"></i> by <strong>My Pop Corner</strong> &copy; 2016
  </div>
</div>
